<!-- Page cover to blur background on project popups -->
<div id="page-cover"></div>

<!-- Game html -->

<%= render '/game/main' %>

<!-- PROJECT POPUPS ---------------------------------------->

<!-- Focus desktop project popup -->

<%= render '/projects/desktop/focus' %>

<!-- Focus mobile project popup -->

<%= render '/projects/mobile/focus' %>


<!-- TITLE SECTION ----------------------------------------->

<%= render '/layouts/title' %>

<!-- ABOUT SECTION ----------------------------------------->

<%= render '/layouts/about' %>

<!-- PORTFOLIO SECTION ------------------------------------->

<%= render '/layouts/portfolio' %>

<!-- CONTACT SECTION --------------------------------------->




	
<!-- JAVASCRIPT -------------------------------------------->

<script type="text/javascript">

	/*Beginning Animation----------------------------*/

	//Hide Nav bar and buttons
	$(".navbar-nav").hide();
	$(".navbar-toggler").hide();
	$(".btn").hide();

	//Type animation
	var instance = new TypeIt('#description', {
    	// strings: ['<pre>&lt;p&gt;I am a passionate web and mobile app developer.&lt;/p&gt;</pre>'],
    	speed: 50,
    	breakLines: false,
    	autoStart: false
	})
		.type('<pre>&lt;p&gt;I am a passienate web an')
		.pause(750)
		.delete(17)
		.pause(500)
		.type("passionate web and mobile app developer.&lt;/p&gt;</pre>");

	//Showing navbar and buttons
	$(".navbar-nav").delay(6000).fadeTo(1000, 1.0);
	$(".btn").delay(6000).fadeTo(1000,1.0);
	if($(window).width() < 1025){
		$(".navbar-toggler").delay(6000).fadeTo(1000,1.0);
	}

	//Tag cloud
	var canvas = document.getElementsByTagName('canvas')[0];
	canvas.width  = 600;
	canvas.height = 600;
	var canvas_text_height = 30;
	var is_phone;

	/*Title Section-----------------------------------*/

	//Maintain container heights when window is resized
	$(window).resize(function(){
		$("#titlesection").height($(window).height());
		$(".project").height($(".projectpicture").height());
		$(".projectcover").width($(".projectpicture").width());
		$(".projectcover").height($(".projectpicture").height());
		$("#page-cover").height($(window).height());
		$("#page-cover").width($(window).width());
		$('.project-popup-mobile').height($(window).height());
    	$('.project-popup-mobile').width($(window).width());
    	$('#main').css("margin-top",$(".navbar").height());
    	$("#game-container").css("height",$(window).height());

		if ($(window).width() < 1025) {
    		$('.btn-group-vertical').hide();
    		$('.btn-group').show();
    		$('#info-area').css("width","100%");
    		$('#aboutsection-greeting').css("margin-top","0px");
    		$('#aboutsection-description').css("margin-top","30px");
    		$(".project").css("width","100%");
    		$("#name-email").css("width","90%");
    		$(".form-container").css("margin-left","0px");
    		$(".form-container").css("width","100%");
    		$("#message").css("width","90%");
    		$(".col-xl-12").css("padding-left","0px");
    		$("#submit-btn").css("width","60%");
    		$(".navbar-toggler").show();
    		$("#titlesection").css({"background-size":"90%", "background-position":"0% 100%"});
    		$("#name").css("padding-top","100px");
    		$("#logo-img").attr("src","logo_drawing_64_cropped.png");
    		// $("#click-me").hide();
  		} else {
    		$('.btn-group-vertical').show();
    		$('.btn-group').hide();
    		$('#info-area').css("width","84%");
    		$('#aboutsection-greeting').css("margin-top","150px");
    		$('#aboutsection-description').css("margin-top","50px");
    		$(".project").css("width","70%");
    		$("#name-email").css("width","40%");
    		$(".form-container").css("margin-left","8px");
    		$(".form-container").css("width","97%");
    		$("#message").css("width","40%");
    		$(".col-xl-12").css("padding-left","9px");
    		$("#submit-btn").css("width","20%");
    		$("#titlesection").css({"background-size":"70%", "background-position":"40%"});
    		$("#name").css("padding-top","140px");
    		$("#logo-img").attr("src","logo_drawing_100_cropped.png");
    		// $("#click-me").show();
  		}


  		if($(window).width() < 768){
  			canvas.width = 300;
  			canvas.height = 300;
  			canvas_text_height = 20;
  			$(".learn-more").css({"margin-top":"10px","width":"70%"});
  			is_phone = true;
  		} else{
  			canvas.width = 600;
  			canvas.height = 600;
  			canvas_text_height = 30;
  			$(".learn-more").css({"margin-top":"80px","width":"40%"});
  			is_phone = false;
  		}

	});
	$(window).trigger('resize');

	//Hide navbar on scroll down and show on scrollup
	var lastScrollTop = 0;
	$(window).scroll(function(event){
	   var st = $(this).scrollTop();
	   if (st > lastScrollTop){
	       // downscroll code
	       $(".navbar").slideUp("fast");
	   } else {
	      // upscroll code
	      $(".navbar").slideDown("fast");
	   }
	   lastScrollTop = st;
	});


	//Smooth Scrolling
	// Add smooth scrolling to all links
  	$(".nav-link").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    	if (this.hash !== "") {
    	  // Prevent default anchor click behavior
    	  event.preventDefault();
	
    	  // Store hash
    	  var hash = this.hash;
	
    	  // Using jQuery's animate() method to add smooth page 	scroll
    	  // The optional number (800) specifies the number of 	milliseconds it takes to scroll to the specified area
    	  $('html, body').animate({ scrollTop: $(hash).offset().top
    	  }, 800, function(){
   	
    	    // Add hash (#) to URL when done scrolling (default 	click behavior)
    	    window.location.hash = hash;    	    
    	  });
    	} // End if
  	});

	//Set title section container height to window height
	$("#titlesection").height($(window).height());

	//Hide Menu when link is clicked in mobile version
	$(".nav-link").click(function(){
		$("#collapsingNavbar").collapse("toggle");
	});


	//Navigation link animations
	$(".nav-link").mouseenter(function(){
		$(this).stop().animate({"color": "#4dff88 !important"}, 250);
  	});

	$(".nav-link").mouseleave(function(){
		$(this).stop().animate({"color": "black"}, 250);
	});

	//Open Resume Pdf
	$("#resume").click(function(){
		var win = window.open("https://drive.google.com/file/d/1ss_Iflm15u6JojAVKUkOxOZhxOyLyOtP/view?usp=sharing");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});

	//Social Media Link animations
	$(".smlink-vert").mouseenter(function(){
		$(this).stop().animate({"width":"100%"}, 250);
	});
	
	$(".smlink-vert").mouseleave(function(){
		$(this).stop().animate({"width":"60%"}, 250);
	});

	//Name animations
	$(".letter").mouseenter(function(){
		$(this).stop().animate({"font-size":"20vmin", "color":"#4dff88"}, 250);
	});

	$(".letter").mouseleave(function(){
		$(this).stop().animate({"font-size":"18.5vmin", "color":"black"}, 250);
	});

	//Open Github Link
	$("#githublink").click(function(){
		var win = window.open("https://github.com/nums11");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});

	$("#githublink-bottom").click(function(){
		var win = window.open("https://github.com/nums11");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});

	//Open LinkedIn Link
	$("#linkedinlink").click(function(){
		var win = window.open("https://www.linkedin.com/in/numfor-tiapo-578b9b15a");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});	

	$("#linkedinlink-bottom").click(function(){
		var win = window.open("https://www.linkedin.com/in/numfor-tiapo-578b9b15a");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});	

	//Open Google Play Link
	$("#googleplaylink").click(function(){
		var win = window.open("https://play.google.com/store/apps/developer?id=Nums");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});

	$("#googleplaylink-bottom").click(function(){
		var win = window.open("https://play.google.com/store/apps/developer?id=Nums");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});



	/*About Section-----------------------------------*/

	//Tag cloud
	if(!$('#tagcloud').tagcanvas({
      textColour: '#4dff88',
      depth: 0.8,
      maxSpeed: 0.10,
      noSelect: true,
      textHeight: canvas_text_height
    },'tags')) {
      // something went wrong, hide the canvas container
      $('#myCanvasContainer').hide();
    }




	/*Portfolio Section---------------------------------*/

	//project cover scritpts
	$(".projectcover").width($(".projectpicture").width());
	$(".projectcover").height($(".projectpicture").height());
	$(".project").height($(".projectpicture").height());


	$(".projectcover").mouseenter(function(){
		$(this).fadeTo(250, 0.9);
	});

	$(".projectcover").mouseleave(function(){
		$(this).fadeTo(250, 0.0);
	});

	$(".learn-more").mouseenter(function(){
		$(this).animate({"background-color": "#4dff88",}, 250);
		$(this).css({"color": "black"});		
	});

	$(".learn-more").mouseleave(function(){
		$(this).animate({"background-color": "#737373",}, 250);
		$(this).css({"color": "white"});		
	});

	$("#focus-learn-more").click(function(){
		if(is_phone){
			$("#focus-popup-mobile").show();
		} else {
			$("#focus-popup-desktop").show("scale", 250);
			$("#page-cover").show();
		}
	});

	//project popup scripts

	$("#page-cover").click(function(){
		$(".project-popup-desktop").hide("scale", 250);
		$("#page-cover").hide();
	});

	$(".exit").click(function(){
		$(".project-popup-mobile").hide();
	});

	$(".view-site").mouseenter(function(){
		$(this).animate({"background-color":"white"}, 250);
		$(this).css({"color":"#4dff88"});
	});

	$(".view-site").mouseleave(function(){
		$(this).animate({"background-color":"#4dff88"}, 250);
		$(this).css({"color":"black"});
	});

	$("#focus-link").click(function(){
		var win = window.open("https://play.google.com/store/apps/details?id=com.games.numsm_000.focus");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});

	$("#focus-link-mobile").click(function(){
		var win = window.open("https://play.google.com/store/apps/details?id=com.games.numsm_000.focus");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});


	/*Contact Section---------------------------------*/

	$("#submit-btn").mouseenter(function(){
		$("#submit-btn").animate({"background-color":"#4dff88"}, 250);
		$("#submit-btn").css("color","black");
	});

	$("#submit-btn").mouseleave(function(){
		$("#submit-btn").animate({"background-color":"#404040"}, 250);
		$("#submit-btn").css("color","white");
	});



	/*Game---------------------------------------------*/

	$("#click-me").click(function(){

		//Scroll to top and hide everything
		// $(window).scrollTop(0);
		// $("#titlesection").fadeOut(1000);
		// $("#aboutsection").fadeOut(1000);
		// $("#portfoliosection").fadeOut(1000);
		// $("#contactsection").fadeOut(1000);

		// //Show game container
		// $("#game-container").delay(1000).fadeIn(1000);
		$("#game-container").css("height",$(window).height());



	});

		function add_div(){
			$('<div class="game-area"><%= escape_javascript render "/game/letter_area" %><%= escape_javascript render "/game/letter_area" %><%= escape_javascript render "/game/letter_area" %><%= escape_javascript render "/game/letter_area" %><%= escape_javascript render "/game/letter_area" %></div>').insertAfter(".game-area:last");
		}

		//Animate game-area
		var counter = 0;
		// function move_game_area(){
		// 	counter++;
		// 	add_div();
		// 	console.log("yes");
		// 	$(".game-area").animate({
		// 		left: '-=' + $(window).width()
		// 	}, 10000, "linear", function(){
		// 		if(counter < 10){
		// 		add_div();
		// 		move_game_area();
		// 		}
		// 	});
		// }

		// move_game_area();
		// while(counter < 10){
		// 	add_div();
		// 	$("#first").animate({
		// 		marginLeft: '-=' + $(window).width()
		// 	}, 2000, "linear", {});
		// 	counter++;
		// }


		// if($("#game-area").is(':animated')){
		// 	console.log("yes");
		// }

		// while($("#game-area").is(':animated')){
		// 	console.log("I'm animated");
		// 	break;
		// }



</script>