<!-- Page cover to blur background on project popups -->
<div id="page-cover"></div>

<!-- PROJECT POPUPS -->

	<!-- Focus project popup -->

	<div class="projectinfo-container" id="focus-popup">

		<!-- Image Carousel -->
		<div id="focus-carousel" class="carousel slide" data-ride="carousel">
  			<!-- Indicators -->
  			<ol class="carousel-indicators">
  			  <li data-target="#focus-carousel" data-slide-to="0" class="			active"></li>
  			  <li data-target="#focus-carousel" data-slide-to="1"></li>
  			  <li data-target="#focus-carousel" data-slide-to="2"></li>
  			  <li data-target="#focus-carousel" data-slide-to="3"></li>
  			</ol>
			
  			<!-- Wrapper for slides -->
  			<div class="carousel-inner">
  			  <div class="item active">
  			    <%= image_tag ("focus_pic1.png"), :class => "carousel-pic" %>
  			  </div>
			
  			  <div class="item">
  			    <%= image_tag ("focus_pic2.png"), :class => "carousel-pic" %>
  			  </div>
			
  			  <div class="item">
  			    <%= image_tag ("focus_pic3.png"), :class => "carousel-pic" %>
  			  </div>

  			  <div class="item">
  			    <%= image_tag ("focus_pic4.png"), :class => "carousel-pic" %>
  			  </div>
  			</div>
			
  			<!-- Left and right controls -->
  			<a class="left carousel-control" href="#focus-carousel" data-slide			="prev">
  			  <span class="glyphicon glyphicon-chevron-left"></span>
  			  <span class="sr-only">Previous</span>
  			</a>
  			<a class="right carousel-control" href="#focus-carousel" 			data-slide="next">
  			  <span class="glyphicon glyphicon-chevron-right"></span>
  			  <span class="sr-only">Next</span>
  			</a>
		</div>

		<div class="project-info" id="focus-info">
			
			<h1>Focus</h1>
			<ul class="list-group">
			  <li class="list-group-item">Android Studio</li>
			  <li class="list-group-item">Java</li>
			  <li class="list-group-item">SQL</li>
			</ul>
			<p>Focus is an exciting, color-based arcade game built using the Android Studio framework and released
through the Google Play Store. Focus uses a self-designed, dynamic algorithm that changes the
speed and difficulty of the game as the user improves. It has a 5 star rating on the Google Play
Store and multiple good reviews.</p>
				<div class="view-site" id="focus-link">View Site</div>

		</div>

	</div>




<!-- TITLE PAGE SECTION --------------------------------->

<div id="titlesection-container">
	
	<!-- Nav Bar-------------------------- -->
	
	<nav class="navbar navbar-light navbar-expand-xl bg-faded justify-content-center">

		<!-- Logo -->
    	<a href="/" class="navbar-brand d-flex mr-auto">Logo</a>

    	<!-- Dropdown Button -->
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    	</button>

    	<!-- Links -->
    	<div class="collapse navbar-collapse w-100" id="collapsingNavbar">
        	<ul class="navbar-nav w-100 justify-content-center">
            	<li class="nav-item">
                	<a class="nav-link" href="#" id="about">About</a>
            	</li>
            	<li class="nav-item">
                <a class="nav-link" href="#" id="portfolio">Portfolio</a>
            	</li>
            	<li class="nav-item">
                <a class="nav-link" href="#" id="contact">Contact</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" href="#" id="resume">Resume</a>
            	</li>
        	</ul>
    	</div>

	</nav>

	<!-- main -------------------->
	<div class="container-fluid" id="main">

		<!-- Social Media Buttons Left Side -->
			
		<div class="btn-group-vertical container" id="	socialmedia-left">
		  	<button type="button" class="btn btn-primary smlink smlink-vert" 		id="githublink">
		 		<%= image_tag("GitHub-Mark-Light-32px.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink smlink-vert" 		id="twitterlink">
		  		<%= image_tag("if_twitter_291710.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink smlink-vert" 		id="facebooklink">
		  		<%= image_tag("if_facebook_386622 (1).png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink smlink-vert" 		id="googleplaylink">
		  		<%= image_tag("if_playstore_252084.png") %>
		  	</button>
		</div> 	 

		<!-- Name and Descreption -->
		<div id="info-area">
			
			<!-- Name -->
	 			<div id="name">
	 				<span class="letter">N</span><span class="letter">u</span><span class="letter">m</span><span class	="letter">f</span><span class="letter">o</span><span class="letter">r</span> <span class="letter">T</span><span class="letter">i</span><span class="letter">a</span><span class="letter">p</span><span class="letter">o</span>
	 			</div>

			<!-- Description -->
			<div id="description">
				<pre>&lt;p&gt;I am a passionate web and mobile app developer.&lt;/p&gt;</pre>
			</div>

		</div>

	</div>	

	<!-- Bottom	  -->

	<div class="container-fluid" id="bottom">
		
		<!-- Social Media Buttons Bottom of page -->
	 	 <div class="btn-group container" id="socialmedia-bottom">
		  	<button type="button" class="btn btn-primary smlink" 		id="githublink">
		 		<%= image_tag("GitHub-Mark-Light-32px.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink" 		id="twitterlink">
		  		<%= image_tag("if_twitter_291710.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink" 		id="facebooklink">
		  		<%= image_tag("if_facebook_386622 (1).png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink" 		id="googleplaylink">
		  		<%= image_tag("if_playstore_252084.png") %>
		  	</button>
		</div> 	 

	</div>


</div>





<!-- ABOUT SECTION ----------------------------------------->

<div class="container-fluid" id="aboutsection-container">
	
	<div class="row">

		<div class="col-xl-6">
			
			<h1 id="aboutsection-greeting">Hi, I'm Numfor, nice to meet you.</h1>
			<p id="aboutsection-description">I'm currently a rising sophomore at Rensselaer Polytechnic Institute. I'm focused, driven, and constantly improving my skills as a developer. I enjoy taking on challenging projects and finding creative solutions. Take a look at some of my skills:

		</div>

		<div class="col-xl-6">

    		<div id="tagcloud-container">
    		  <canvas id="tagcloud"></canvas>
    		</div>
    		<div id="tags">
    		  <ul>
    		    <li><a class="tag_test">HTML</a></li>
    		    <li><a class="tag_test">CSS</a></li>
    		    <li><a class="tag_test">JavaScript</a></li>
    		    <li><a class="tag_test">jQuery</a></li>
    		    <li><a class="tag_test">Vue.js</a></li>
    		    <li><a class="tag_test">Ruby on Rails</a></li>
    		    <li><a class="tag_test">Git</a></li>
    		    <li><a class="tag_test">PHP</a></li>
    		    <li><a class="tag_test">Bash</a></li>
    		    <li><a class="tag_test">C</a></li>
    		    <li><a class="tag_test">C++</a></li>
    		    <li><a class="tag_test">Ruby</a></li>
    		    <li><a class="tag_test">Java</a></li>
    		    <li><a class="tag_test">Android Studio</a></li>
    		    <li><a class="tag_test">Bootstrap</a></li>
    		    <li><a class="tag_test">PHP</a></li>
    		    <li><a class="tag_test">SQL</a></li>
    		  </ul>
    		</div>
		
				</div>
		
			</div>

</div>


<!-- Portfolio Section--------------------------------------->

<div id="dummy-space"></div>

<!-- <div id="portfoliosection-container">
	
	<div id="portfoliosection-main">
		
		<div id="portfoliosection-greeting">Projects</div>

		<div id="underline"></div>

		<div id="projects">

			<div class="project" id="focus-container">
				<div class="projectpicture">
				<%= image_tag ("focus_project.png"), :class=>"img-thumbnail" %>
				</div>
				<div class="projectcover">
					<div class="project-name">Focus</div>
					<div class="learn-more" id="focus-learn-more">Learn More</div>
				</div>
			</div>
			<div id="coming-soon">More Projects coming soon!</div>

		</div>

	</div>

</div> -->


<!-- Contact Section---------------------------------------->

<!-- <div id="contactsection-container">
	
	<div id="forms-container">
		
		<div id="contact-header">Contact</div>

		<div id="contact-underline"></div>

		<div id="contact-name-email">
			<input type="text" class="contact-info" placeholder="Name">
			<input type="email" class="contact-info" placeholder="Email">
		</div>

		<textarea id="message-area" placeholder="Type your message"></textarea>

		<div id="submit-btn">Submit</div>

	</div>

</div> -->

	
<!-- JAVASCRIPT -------------------------------------------->

<script type="text/javascript">
	//Tag cloud
	var canvas = document.getElementsByTagName('canvas')[0];
	canvas.width  = 600;
	canvas.height = 600;
	var canvas_text_height = 30;

	/*Title Section-----------------------------------*/

	//Maintain container heights when window is resized
	$(window).resize(function(){
		$("#titlesection-container").height($(window).height());

		// //Change buttons from vertical to horizontal
		if ($(window).width() < 1025) {
    		$('.btn-group-vertical').hide();
    		$('.btn-group').show();
    		$('#info-area').css("width","100%");
    		$('#aboutsection-greeting').css("margin-top","0px");
    		$('#aboutsection-description').css("margin-top","30px");
  		} else {
    		$('.btn-group-vertical').show();
    		$('.btn-group').hide();
    		$('#info-area').css("width","84%");
    		$('#aboutsection-greeting').css("margin-top","150px");
    		$('#aboutsection-description').css("margin-top","50px");
  		}


  		//Tag Cloud
  		if($(window).width() < 768){
  			canvas.width = 300;
  			canvas.height = 300;
  			canvas_text_height = 20;
  		} else{
  			canvas.width = 600;
  			canvas.height = 600;
  			canvas_text_height = 30;
  		}

	});
	$(window).trigger('resize');

	//Set title section container height to window height
	$("#titlesection-container").height($(window).height());

	//Navigation link animations
	$(".nav-link").mouseenter(function(){
		$(this).animate({"color": "#4dff88"}, 250);
  	});

	$(".nav-link").mouseleave(function(){
		$(this).animate({"color": "black"}, 250);
	});

	//Social Media Link animations
	$(".smlink-vert").mouseenter(function(){
		$(this).animate({"width":"100%"}, 250);
	});
	
	$(".smlink-vert").mouseleave(function(){
		$(this).animate({"width":"60%"}, 250);
	});

	//Name animations
	$(".letter").mouseenter(function(){
		$(this).animate({"font-size":"20vmin", "color":"#ff6666"}, 250);
	});

	$(".letter").mouseleave(function(){
		$(this).animate({"font-size":"18.5vmin", "color":"black"}, 250);
	});




	/*About Section-----------------------------------*/

	//Tag cloud
	if(!$('#tagcloud').tagcanvas({
      textColour: '#4dff88',
      depth: 0.8,
      maxSpeed: 0.10,
      noSelect: true,
      textHeight: canvas_text_height
    },'tags')) {
      // something went wrong, hide the canvas container
      $('#myCanvasContainer').hide();
    }




	/*Portfolio Section---------------------------------*/

	//project cover scritpts
	$(".projectcover").mouseenter(function(){
		$(this).fadeTo(250, 0.9);
	});

	$(".projectcover").mouseleave(function(){
		$(this).fadeTo(250, 0.0);
	});

	$(".learn-more").mouseenter(function(){
		$(this).animate({"background-color": "#4dff88",}, 250);
		$(this).css({"color": "black"});		
	});

	$(".learn-more").mouseleave(function(){
		$(this).animate({"background-color": "#737373",}, 250);
		$(this).css({"color": "white"});		
	});

	//project popup scripts

	$(".view-site").mouseenter(function(){
		$(this).animate({"background-color":"white"}, 250);
		$(this).css({"color":"#4dff88"});
	});

	$(".view-site").mouseleave(function(){
		$(this).animate({"background-color":"#4dff88"}, 250);
		$(this).css({"color":"black"});
	});

	$("#page-cover").height($(window).height());
	$("#page-cover").width($(window).width() - 2);

	$("#focus-learn-more").click(function(){
		$("#focus-popup").show("scale", 250);
		$("#page-cover").show();
	});

	$("#page-cover").click(function(){
		$(".projectinfo-container").hide("scale", 250);
		$("#page-cover").hide();
	});

	$("#focus-link").click(function(){
		var win = window.open("https://play.google.com/store/apps/details?id=com.games.numsm_000.focus");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});

	/*Contact Section---------------------------------*/

	$(".contact-info").focus(function(){
		$(this).animate({borderBottomColor:"#4dff88"}, 250);
	});

	$(".contact-info").focusout(function(){
		$(this).animate({borderBottomColor:"#808080"}, 250);
	});

	// $("#message-area").focus(function(){
	// 	$(this).animate({borderColor:"#4dff88"},250);
	// });

	$("#submit-btn").mouseenter(function(){
		$("#submit-btn").animate({"background-color":"#4dff88"}, 250);
		$("#submit-btn").css("color","black");
	});

	$("#submit-btn").mouseleave(function(){
		$("#submit-btn").animate({"background-color":"#404040"}, 250);
		$("#submit-btn").css("color","white");
	});

</script>