<!-- Page cover to blur background on project popups -->
<div id="page-cover"></div>

<!-- PROJECT POPUPS -->

<!-- Focus desktop project popup -->

<div class="project-popup-desktop" id="focus-popup-desktop">

	<!-- Image Carousel -->
	<div id="focus-carousel-desktop" class="carousel slide" data-ride="carousel">
  		<!-- Indicators -->
  		<ul class="carousel-indicators">
  			 <li data-target="#focus-carousel-desktop" data-slide-to="0" class="active"></li>
  			 <li data-target="#focus-carousel-desktop" data-slide-to="1"></li>
  			 <li data-target="#focus-carousel-desktop" data-slide-to="2"></li>
  			 <li data-target="#focus-carousel-desktop" data-slide-to="3"></li>
  		</ul>
			
  		<!-- The slideshow -->
  		<div class="carousel-inner">
  			<div class="carousel-item active">
  			    <%= image_tag ("focus_pic1.png"), :class => "img-fluid" %> 
  			</div>
			
  			<div class="carousel-item">
   			   <%= image_tag ("focus_pic2.png"), :class => "img-fluid" %> 
  			</div>
			
  			<div class="carousel-item">
   			   <%= image_tag ("focus_pic3.png"), :class => "img-fluid" %> 
  			 </div>

  			<div class="carousel-item">
   			   <%= image_tag ("focus_pic4.png"), :class => "img-fluid" %> 
  			</div>
  		</div>
			
  		<!-- Left and right controls -->
  		<a class="carousel-control-prev" href="#focus-carousel-desktop" data-slide="prev">
  			<span class="carousel-control-prev-icon"></span>
  		</a>
  		<a class="carousel-control-next" href="#focus-carousel-desktop" data-slide="next">
  		  <span class="carousel-control-next-icon"></span>
  		</a>
	</div>

	<!-- Focus Info -->

	<div class="project-info-desktop" id="focus-info-desktop">
			
		<h1>Focus</h1>
		<ul class="list-group">
			<li class="list-group-item">Android Studio</li>
			<li class="list-group-item">Java</li>
			<li class="list-group-item">SQL</li>
		</ul>
		<p>Focus is an exciting, color-based arcade game built using the Android Studio framework and released
through the Google Play Store. Focus uses a self-designed, dynamic algorithm that changes the
speed and difficulty of the game as the user improves. It has a 5 star rating on the Google Play
Store and multiple good reviews.</p>
		<div class="view-site" id="focus-link">View Site</div>

	</div>

</div>

<!-- Focus mobile project popup -->

<div class="project-popup-mobile" id="focus-popup-mobile">

	<!-- Focus Info -->

	<div class="project-info-mobile" id="focus-info-mobile">
			
		<h1>Focus</h1>
		<div class="exit">X</div>
		<ul class="list-group">
			<li class="list-group-item">Android Studio</li>
			<li class="list-group-item">Java</li>
			<li class="list-group-item">SQL</li>
		</ul>
		<p>Focus is an exciting, color-based arcade game built using the Android Studio framework and released
through the Google Play Store. Focus uses a self-designed, dynamic algorithm that changes the
speed and difficulty of the game as the user improves. It has a 5 star rating on the Google Play
Store and multiple good reviews.</p>
		<div class="view-site" id="focus-link">View Site</div>

	</div>


	<!-- Image Carousel -->
	<div id="focus-carousel-mobile" class="carousel slide" data-ride="carousel">
  		<!-- Indicators -->
  		<ul class="carousel-indicators">
  			 <li data-target="#focus-carousel-mobile" data-slide-to="0" class="active"></li>
  			 <li data-target="#focus-carousel-mobile" data-slide-to="1"></li>
  			 <li data-target="#focus-carousel-mobile" data-slide-to="2"></li>
  			 <li data-target="#focus-carousel-mobile" data-slide-to="3"></li>
  		</ul>
			
  		<!-- The slideshow -->
  		<div class="carousel-inner">
  			<div class="carousel-item active">
  			    <%= image_tag ("focus_pic1.png"), :class => "img-fluid" %> 
  			</div>
			
  			<div class="carousel-item">
   			   <%= image_tag ("focus_pic2.png"), :class => "img-fluid" %> 
  			</div>
			
  			<div class="carousel-item">
   			   <%= image_tag ("focus_pic3.png"), :class => "img-fluid" %> 
  			 </div>

  			<div class="carousel-item">
   			   <%= image_tag ("focus_pic4.png"), :class => "img-fluid" %> 
  			</div>
  		</div>
			
  		<!-- Left and right controls -->
  		<a class="carousel-control-prev" href="#focus-carousel-mobile" data-slide="prev">
  			<span class="carousel-control-prev-icon"></span>
  		</a>
  		<a class="carousel-control-next" href="#focus-carousel-mobile" data-slide="next">
  		  <span class="carousel-control-next-icon"></span>
  		</a>
	</div>

</div>




<!-- TITLE PAGE SECTION --------------------------------->

<div id="titlesection-container">

	<!-- Nav Bar-------------------------- -->
	
	<nav class="navbar navbar-light navbar-expand-xl bg-faded justify-content-center">

		<!-- Logo -->
    	<a href="/" class="navbar-brand d-flex mr-auto">Logo</a>

    	<!-- Dropdown Button -->
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    	</button>

    	<!-- Links -->
    	<div class="collapse navbar-collapse w-100" id="collapsingNavbar">
        	<ul class="navbar-nav w-100 justify-content-center">
            	<li class="nav-item">
                	<a class="nav-link" href="#aboutsection-container" id="about">About</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" href="#portfoliosection-container" id="portfolio">Portfolio</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" href="#contactsection-container" id="contact">Contact</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" id="resume">Resume</a>
            	</li>
        	</ul>
    	</div>

	</nav>

	<!-- main -------------------->
	<div class="container-fluid" id="main">

		<!-- Social Media Buttons Left Side -->
			
		<div class="btn-group-vertical container" id="	socialmedia-left">
		  	<button type="button" class="btn btn-primary smlink smlink-vert" id="githublink">
		 		<%= image_tag("GitHub-Mark-Light-32px.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink smlink-vert" id="linkedinlink">
		 		<%= image_tag("linkedinlogo.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink smlink-vert" id="googleplaylink">
		  		<%= image_tag("if_playstore_252084.png") %>
		  	</button>
		</div> 	 

		<!-- Name and Descreption -->
		<div id="info-area">
			
			<!-- Name -->
	 			<div id="name">
	 				<span class="letter">N</span><span class="letter">u</span><span class="letter">m</span><span class	="letter">f</span><span class="letter">o</span><span class="letter">r</span> <span class="letter">T</span><span class="letter">i</span><span class="letter">a</span><span class="letter">p</span><span class="letter">o</span>
	 			</div>

			<!-- Description -->
			<div id="description"></div>

		</div>

	</div>	

	<!-- Bottom	  -->

	<div class="container-fluid" id="bottom">
		
		<!-- Social Media Buttons Bottom of page -->
	 	 <div class="btn-group container" id="socialmedia-bottom">
		  	<button type="button" class="btn btn-primary smlink" 		id="githublink">
		 		<%= image_tag("GitHub-Mark-Light-32px.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink" 		id="linkedinlink">
		 		<%= image_tag("linkedinlogo.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink" 		id="googleplaylink">
		  		<%= image_tag("if_playstore_252084.png") %>
		  	</button>
		</div> 	 

	</div>


</div>




<!-- ABOUT SECTION ----------------------------------------->

<div class="container-fluid" id="aboutsection-container">
	
	<div class="row">

		<div class="col-xl-6">
			
			<h1 id="aboutsection-greeting">Hi, I'm Numfor, nice to meet you.</h1>
			<p id="aboutsection-description">I'm currently a rising sophomore at Rensselaer Polytechnic Institute. I'm focused, driven, and constantly improving my skills as a developer. I enjoy taking on challenging projects and finding creative solutions. Take a look at some of my skills:

		</div>

		<div class="col-xl-6">

			<!-- Tag Cloud -->

    		<div id="tagcloud-container">
    		  <canvas id="tagcloud"></canvas>
    		</div>
    		<div id="tags">
    		  <ul>
    		    <li><a>HTML</a></li>
    		    <li><a>CSS</a></li>
    		    <li><a>JavaScript</a></li>
    		    <li><a>jQuery</a></li>
    		    <li><a>Vue.js</a></li>
    		    <li><a>Ruby on Rails</a></li>
    		    <li><a>Git</a></li>
    		    <li><a>PHP</a></li>
    		    <li><a>Bash</a></li>
    		    <li><a>C</a></li>
    		    <li><a>C++</a></li>
    		    <li><a>Ruby</a></li>
    		    <li><a>Java</a></li>
    		    <li><a>Android Studio</a></li>
    		    <li><a>Bootstrap</a></li>
    		    <li><a>PHP</a></li>
    		    <li><a>SQL</a></li>
    		    <li><a>MIPS</a></li>
    		  </ul>
    		</div>
		
		</div>
		
	</div>

</div>




<!-- Portfolio Section--------------------------------------->

<div class="container-fluid" id="portfoliosection-container">
	
	<h1 id="portfoliosection-greeting">Projects</h1>
	<div id="underline"></div>

	<div class="project" id="focus-container">
		
		<div class="projectpicture">
			<%= image_tag ("focus_project.png"), :class=>"img-thumbnail" %>
		</div>

		<div class="projectcover">
			<div class="project-name">Focus</div>
			<div class="learn-more" id="focus-learn-more">Learn More</div>
		</div>

	</div>

	<h1 id="coming-soon">More Projects Coming Soon!</h1>


</div>




<!-- Contact Section---------------------------------------->

<div class="container-fluid" id="contactsection-container">
	
	<h1>Contact</h1>

	<div id="contact-underline"></div>

	<div class="row" id="name-email">
		
		<div class="col-xl-6 col-xl-offset-2">

			<div class="form-container">
				
				<input type="text" placeholder="Name" class="contact-info">	

			</div>
			

		</div>

		<div class="divider"></div>

		<div class="col-xl-6 col-xl-offset-2" id="rightside">

			<div class="form-container">
				
				<input type="email" placeholder="Email" class="contact-info">

			</div>
			

		</div>

	</div>

	<div class="row" id="message">
		
		<div class="col-xl-12">
			
			<textarea placeholder="Type Message Here"></textarea>

		</div>

	</div>

	<div id="submit-btn">Submit</div>

</div>



	
<!-- JAVASCRIPT -------------------------------------------->

<script type="text/javascript">
	/*Beginning Animation----------------------------*/

	//Hide Nav bar and buttons
	$(".navbar-nav").hide();
	$(".navbar-toggler").hide();
	$(".btn").hide();

	//Type animation
	var instance = new TypeIt('#description', {
    	// strings: ['<pre>&lt;p&gt;I am a passionate web and mobile app developer.&lt;/p&gt;</pre>'],
    	speed: 50,
    	breakLines: false,
    	autoStart: false
	})
		.type('<pre>&lt;p&gt;I am a passienate web an')
		.pause(750)
		.delete(17)
		.pause(500)
		.type("passionate web and mobile app developer.&lt;/p&gt;</pre>");

	//Showing navbar and buttons
	$(".navbar-nav").delay(6000).fadeTo(1000, 1.0);
	$(".btn").delay(6000).fadeTo(1000,1.0);
	if($(window).width() < 1025){
		$(".navbar-toggler").delay(6000).fadeTo(1000,1.0);
	}

	//Tag cloud
	var canvas = document.getElementsByTagName('canvas')[0];
	canvas.width  = 600;
	canvas.height = 600;
	var canvas_text_height = 30;
	var is_phone;

	/*Title Section-----------------------------------*/

	//Maintain container heights when window is resized
	$(window).resize(function(){
		$("#titlesection-container").height($(window).height());
		$(".project").height($(".projectpicture").height());
		$(".projectcover").width($(".projectpicture").width());
		$(".projectcover").height($(".projectpicture").height());
		$("#page-cover").height($(window).height());
		$("#page-cover").width($(window).width());
		$('.project-popup-mobile').height($(window).height());
    	$('.project-popup-mobile').width($(window).width());
    	$('#main').css("margin-top",$(".navbar").height());

		if ($(window).width() < 1025) {
    		$('.btn-group-vertical').hide();
    		$('.btn-group').show();
    		$('#info-area').css("width","100%");
    		$('#aboutsection-greeting').css("margin-top","0px");
    		$('#aboutsection-description').css("margin-top","30px");
    		$(".project").css("width","100%");
    		$("#name-email").css("width","90%");
    		$(".form-container").css("margin-left","0px");
    		$(".form-container").css("width","100%");
    		$("#message").css("width","90%");
    		$(".col-xl-12").css("padding-left","0px");
    		$("#submit-btn").css("width","60%");
    		$(".navbar-toggler").show();
    		$("#titlesection-container").css({"background-size":"90%", "background-position":"0% 100%"});

  		} else {
    		$('.btn-group-vertical').show();
    		$('.btn-group').hide();
    		$('#info-area').css("width","84%");
    		$('#aboutsection-greeting').css("margin-top","150px");
    		$('#aboutsection-description').css("margin-top","50px");
    		$(".project").css("width","70%");
    		$("#name-email").css("width","40%");
    		$(".form-container").css("margin-left","8px");
    		$(".form-container").css("width","97%");
    		$("#message").css("width","40%");
    		$(".col-xl-12").css("padding-left","9px");
    		$("#submit-btn").css("width","20%");
    		$("#titlesection-container").css({"background-size":"70%", "background-position":"40%"});
  		}


  		if($(window).width() < 768){
  			canvas.width = 300;
  			canvas.height = 300;
  			canvas_text_height = 20;
  			$(".learn-more").css({"margin-top":"10px","width":"70%"});
  			is_phone = true;
  		} else{
  			canvas.width = 600;
  			canvas.height = 600;
  			canvas_text_height = 30;
  			$(".learn-more").css({"margin-top":"80px","width":"40%"});
  			is_phone = false;
  		}

	});
	$(window).trigger('resize');

	//Hide navbar on scroll down and show on scrollup
	var lastScrollTop = 0;
	$(window).scroll(function(event){
	   var st = $(this).scrollTop();
	   if (st > lastScrollTop){
	       // downscroll code
	       $(".navbar").slideUp("fast");
	   } else {
	      // upscroll code
	      $(".navbar").slideDown("fast");
	   }
	   lastScrollTop = st;
	});


	//Smooth Scrolling
	// Add smooth scrolling to all links
  	$(".nav-link").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    	if (this.hash !== "") {
    	  // Prevent default anchor click behavior
    	  event.preventDefault();
	
    	  // Store hash
    	  var hash = this.hash;
	
    	  // Using jQuery's animate() method to add smooth page 	scroll
    	  // The optional number (800) specifies the number of 	milliseconds it takes to scroll to the specified area
    	  $('html, body').animate({ scrollTop: $(hash).offset().top
    	  }, 800, function(){
   	
    	    // Add hash (#) to URL when done scrolling (default 	click behavior)
    	    window.location.hash = hash;    	    
    	  });
    	} // End if
  	});

	//Set title section container height to window height
	$("#titlesection-container").height($(window).height());

	//Hide Menu when link is clicked in mobile version
	$(".nav-link").click(function(){
		$("#collapsingNavbar").collapse("toggle");
	});


	//Navigation link animations
	$(".nav-link").mouseenter(function(){
		$(this).stop().animate({"color": "#4dff88 !important"}, 250);
  	});

	$(".nav-link").mouseleave(function(){
		$(this).stop().animate({"color": "black"}, 250);
	});

	//Open Resume Pdf
	$("#resume").click(function(){
		var win = window.open("https://drive.google.com/file/d/17QzZBhDjNXyKcn4p-K7vcgsyCeGaMICC/view?usp=sharing");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});

	//Social Media Link animations
	$(".smlink-vert").mouseenter(function(){
		$(this).stop().animate({"width":"100%"}, 250);
	});
	
	$(".smlink-vert").mouseleave(function(){
		$(this).stop().animate({"width":"60%"}, 250);
	});

	//Name animations
	$(".letter").mouseenter(function(){
		$(this).stop().animate({"font-size":"20vmin", "color":"#4dff88"}, 250);
	});

	$(".letter").mouseleave(function(){
		$(this).stop().animate({"font-size":"18.5vmin", "color":"black"}, 250);
	});

	//Open Github Link
	$("#githublink").click(function(){
		var win = window.open("https://github.com/nums11");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});

	//Open LinkedIn Link
	$("#linkedinlink").click(function(){
		var win = window.open("https://www.linkedin.com/in/numfor-tiapo-578b9b15a");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});	

	//Open Google Play Link
	$("#googleplaylink").click(function(){
		var win = window.open("https://play.google.com/store/apps/developer?id=Nums");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});


	/*About Section-----------------------------------*/

	//Tag cloud
	if(!$('#tagcloud').tagcanvas({
      textColour: '#4dff88',
      depth: 0.8,
      maxSpeed: 0.10,
      noSelect: true,
      textHeight: canvas_text_height
    },'tags')) {
      // something went wrong, hide the canvas container
      $('#myCanvasContainer').hide();
    }




	/*Portfolio Section---------------------------------*/

	//project cover scritpts
	$(".projectcover").width($(".projectpicture").width());
	$(".projectcover").height($(".projectpicture").height());
	$(".project").height($(".projectpicture").height());


	$(".projectcover").mouseenter(function(){
		$(this).fadeTo(250, 0.9);
	});

	$(".projectcover").mouseleave(function(){
		$(this).fadeTo(250, 0.0);
	});

	$(".learn-more").mouseenter(function(){
		$(this).animate({"background-color": "#4dff88",}, 250);
		$(this).css({"color": "black"});		
	});

	$(".learn-more").mouseleave(function(){
		$(this).animate({"background-color": "#737373",}, 250);
		$(this).css({"color": "white"});		
	});

	$("#focus-learn-more").click(function(){
		if(is_phone){
			$("#focus-popup-mobile").show();
		} else {
			$("#focus-popup-desktop").show("scale", 250);
			$("#page-cover").show();
		}
	});

	//project popup scripts

	$("#page-cover").click(function(){
		$(".project-popup-desktop").hide("scale", 250);
		$("#page-cover").hide();
	});

	$(".exit").click(function(){
		$(".project-popup-mobile").hide();
	});

	$(".view-site").mouseenter(function(){
		$(this).animate({"background-color":"white"}, 250);
		$(this).css({"color":"#4dff88"});
	});

	$(".view-site").mouseleave(function(){
		$(this).animate({"background-color":"#4dff88"}, 250);
		$(this).css({"color":"black"});
	});

	$("#focus-link").click(function(){
		var win = window.open("https://play.google.com/store/apps/details?id=com.games.numsm_000.focus");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});




	/*Contact Section---------------------------------*/

	$("#submit-btn").mouseenter(function(){
		$("#submit-btn").animate({"background-color":"#4dff88"}, 250);
		$("#submit-btn").css("color","black");
	});

	$("#submit-btn").mouseleave(function(){
		$("#submit-btn").animate({"background-color":"#404040"}, 250);
		$("#submit-btn").css("color","white");
	});

</script>