<!-- Page cover to blur background on project popups -->
<div id="page-cover"></div>

<!-- PROJECT POPUPS -->

	<!-- Focus project popup -->

	<div class="projectinfo-container" id="focus-popup">

		<!-- Image Carousel -->
		<div id="focus-carousel" class="carousel slide" data-ride="carousel">
  			<!-- Indicators -->
  			<ol class="carousel-indicators">
  			  <li data-target="#focus-carousel" data-slide-to="0" class="			active"></li>
  			  <li data-target="#focus-carousel" data-slide-to="1"></li>
  			  <li data-target="#focus-carousel" data-slide-to="2"></li>
  			  <li data-target="#focus-carousel" data-slide-to="3"></li>
  			</ol>
			
  			<!-- Wrapper for slides -->
  			<div class="carousel-inner">
  			  <div class="item active">
  			    <%= image_tag ("focus_pic1.png"), :class => "carousel-pic" %>
  			  </div>
			
  			  <div class="item">
  			    <%= image_tag ("focus_pic2.png"), :class => "carousel-pic" %>
  			  </div>
			
  			  <div class="item">
  			    <%= image_tag ("focus_pic3.png"), :class => "carousel-pic" %>
  			  </div>

  			  <div class="item">
  			    <%= image_tag ("focus_pic4.png"), :class => "carousel-pic" %>
  			  </div>
  			</div>
			
  			<!-- Left and right controls -->
  			<a class="left carousel-control" href="#focus-carousel" data-slide			="prev">
  			  <span class="glyphicon glyphicon-chevron-left"></span>
  			  <span class="sr-only">Previous</span>
  			</a>
  			<a class="right carousel-control" href="#focus-carousel" 			data-slide="next">
  			  <span class="glyphicon glyphicon-chevron-right"></span>
  			  <span class="sr-only">Next</span>
  			</a>
		</div>

		<div class="project-info" id="focus-info">
			
			<h1>Focus</h1>
			<ul class="list-group">
			  <li class="list-group-item">Android Studio</li>
			  <li class="list-group-item">Java</li>
			  <li class="list-group-item">SQL</li>
			</ul>
			<p>Focus is an exciting, color-based arcade game built using the Android Studio framework and released
through the Google Play Store. Focus uses a self-designed, dynamic algorithm that changes the
speed and difficulty of the game as the user improves. It has a 5 star rating on the Google Play
Store and multiple good reviews.</p>
				<div class="view-site" id="focus-link">View Site</div>

		</div>

	</div>

<!-- TITLE PAGE SECTION --------------------------------->

<div id="titlesection-container">

	<!-- HEADER-------------------------- -->
	
	<div id="header">
		
		<div id="logo-area"></div>
	
		<div id="nav-area">
			
			<ul class="nav nav-pills nav-justified">
	  			<li><a href="#" class="link">About</a></li>
	  			<li><a href="#" class="link">Portfolio</a></li>
	  			<li><a href="#" class="link">Contact</a></li>
	  			<li><a href="#" class="link">Resume</a></li>
			</ul>
	
		</div>
	
	</div>

	
	<!-- BODY-------------------------- -->
 	
	<div id="main">
		
		<div id="socialmedia-area">
			
	 		<div class="btn-group-vertical">
	  			<button type="button" class="btn btn-primary smlink" 	id="githublink">
	 				<%= image_tag("GitHub-Mark-Light-32px.png") %>
	  			</button>
	  			<button type="button" class="btn btn-primary smlink" 	id="twitterlink">
	  				<%= image_tag("if_twitter_291710.png") %>
	  			</button>
	  			<button type="button" class="btn btn-primary smlink" 	id="facebooklink">
	  				<%= image_tag("if_facebook_386622 (1).png") %>
	  			</button>
	  			<button type="button" class="btn btn-primary smlink" 	id="googleplaylink">
	  				<%= image_tag("if_playstore_252084.png") %>
	  			</button>
			</div> 
	
		</div>
	
	 	<div id="info-area">
	 		
	 		<div id="info">
	 			<div id="name">
	 				<span class="letter">N</span><span class="letter">u</span><span class="letter">m</span><span class	="letter">f</span><span class="letter">o</span><span class="letter">r</span> <span class="letter">T</span><span class="letter">i</span><span class="letter">a</span><span class="letter">p</span><span class="letter">o</span>
	 			</div>
	 			<div id="description">
	 				<pre>&lt;p&gt;I am a passionate web and mobile app developer.&lt;/p&gt;</pre>
	 			</div>
	 		</div>
	
	 	</div> 
	
	</div> 

</div>

<!-- ABOUT SECTION ----------------------------------------->

<div id="aboutsection-container">
	
	<div id="aboutsection-main">

		<div id="aboutsection-info">
			<div id="aboutsection-greeting">Hi I'm Numfor, nice to 	meet you.</div>
			<div id="aboutsection-description">I'm currently a 	rising sophomore at Rensselaer Polytechnic Institute. I'm focused, driven, and constantly improving my skills as a developer. Take a look at some of my skills:	</div>
		</div>
		
		<div id="tagcloud">
			<ul>
				<li class="skilltag">Html</li>
				<li class="skilltag">CSS</li>
				<li class="skilltag">Javascript</li>
				<li class="skilltag">jQuery</li>
				<li class="skilltag">Vue.js</li>
				<li class="skilltag">Ruby on Rails</li>
				<li class="skilltag">Git</li>
				<li class="skilltag">PHP</li>
				<li class="skilltag">Bash</li>
				<li class="skilltag">C</li>
				<li class="skilltag">C++</li>
				<li class="skilltag">Ruby</li>
				<li class="skilltag">Java</li>
				<li class="skilltag">Android Studio</li>
				<li class="skilltag">Bootstrap</li>
				<li class="skilltag">PHP</li>
				<li class="skilltag">SQL</li>
			</ul>												
		</div>

	</div>

</div>



<!-- Portfolio Section--------------------------------------->

<div id="portfoliosection-container">
	
	<div id="portfoliosection-main">
		
		<div id="portfoliosection-greeting">Projects</div>

		<div id="underline"></div>

		<div id="projects">

			<!-- Use bootstrap grid when adding projects -->
			<div class="project" id="focus-container">
				<div class="projectpicture">
				<%= image_tag ("focus_project.png"), :class=>"img-thumbnail" %>
				</div>
				<div class="projectcover">
					<div class="project-name">Focus</div>
					<div class="learn-more" id="focus-learn-more">Learn More</div>
				</div>
			</div>
			<div id="coming-soon">More Projects coming soon!</div>

		</div>

	</div>

</div>


<!-- Contact Section---------------------------------------->

<div id="contactsection-container">
	
	<div id="forms-container">
		
		<div id="contact-header">Contact</div>

		<div id="contact-underline"></div>

		<div id="contact-name-email">
			<input type="text" class="contact-info" placeholder="Name">
			<input type="email" class="contact-info" placeholder="Email">
		</div>

		<textarea id="message-area" placeholder="Type your message"></textarea>

		<div id="submit-btn">Submit</div>

	</div>

</div>

	
<!-- JAVASCRIPT -------------------------------------------->

<script type="text/javascript">

	/*Title Section-----------------------------------*/

	//Set title section container height to window height
	$("#titlesection-container").height($(window).height());

	//Navigation links
	$(".link").mouseenter(function(){
		$(this).animate({"color": "#4dff88"}, 250);
  	});

	$(".link").mouseleave(function(){
		$(this).animate({"color": "black"}, 250);
	});

	//Social Media Linls
	$(".smlink").mouseenter(function(){
		$(this).animate({"width":"100%"}, 250);
	});

	$(".smlink").mouseleave(function(){
		$(this).animate({"width":"60%"}, 250);
	});

	//Name animations
	$(".letter").mouseenter(function(){
		$(this).animate({"font-size":"150px", "color":"#ff6666"}, 250);
	});

	$(".letter").mouseleave(function(){
		$(this).animate({"font-size":"140px", "color":"black"}, 250);
	});


	/*About Section-----------------------------------*/

	//Set about section container height
	// $("#aboutsection-container").height($(window).height());


	//Maintain container heights when window is resized
	$(window).resize(function(){
		$("#titlesection-container").height($(window).height());
		// $("#aboutsection-container").height($(window).height());
	});
	$(window).trigger('resize');

	//Tag cloud
	var tagcloud_height = $("#tagcloud").height();
	var tagcloud_width = $("#tagcloud").width();
	var settings = {
		//height of sphere container
		height: tagcloud_height, 
		//width of sphere container
		width: tagcloud_width, 	
		//radius of sphere
		radius: 250,
		//rotation speed
		speed: 0.5,
		//sphere rotations slower
		// slower: 0.9,
		// //delay between up<a href="https://www.jqueryscript.net/		time-clock/">date</a> position
		// timer: 5,
		// //dependence of a font size on axis Z
		// fontMultiplier: 15,
		// //tag css stylies on mouse over
		// hoverStyle: {
		// border: 'none',
		// color: '#4dff88'
		// },
		// //tag css stylies on mouse out
		// mouseOutStyle: {
		// border: '',
		// color: ''
		// }
	};
	$('#tagcloud').tagoSphere(settings);

	/*Portfolio Section---------------------------------*/

	//project cover scritpts
	$(".projectcover").mouseenter(function(){
		$(this).fadeTo(250, 0.9);
	});

	$(".projectcover").mouseleave(function(){
		$(this).fadeTo(250, 0.0);
	});

	$(".learn-more").mouseenter(function(){
		$(this).animate({"background-color": "#4dff88",}, 250);
		$(this).css({"color": "black"});		
	});

	$(".learn-more").mouseleave(function(){
		$(this).animate({"background-color": "#737373",}, 250);
		$(this).css({"color": "white"});		
	});

	//project popup scripts

	$(".view-site").mouseenter(function(){
		$(this).animate({"background-color":"white"}, 250);
		$(this).css({"color":"#4dff88"});
	});

	$(".view-site").mouseleave(function(){
		$(this).animate({"background-color":"#4dff88"}, 250);
		$(this).css({"color":"black"});
	});

	$("#page-cover").height($(window).height());
	$("#page-cover").width($(window).width() - 2);

	$("#focus-learn-more").click(function(){
		$("#focus-popup").show("scale", 250);
		$("#page-cover").show();
	});

	$("#page-cover").click(function(){
		$(".projectinfo-container").hide("scale", 250);
		$("#page-cover").hide();
	});

	$("#focus-link").click(function(){
		var win = window.open("https://play.google.com/store/apps/details?id=com.games.numsm_000.focus");
		if (win) {
		    //Browser has allowed it to be opened
		    win.focus();
		} else {
		    //Browser has blocked it
		    alert('Please allow popups for this website');
		}
	});

	/*Contact Section---------------------------------*/

	$(".contact-info").focus(function(){
		$(this).animate({borderBottomColor:"#4dff88"}, 250);
	});

	$(".contact-info").focusout(function(){
		$(this).animate({borderBottomColor:"#808080"}, 250);
	});

	// $("#message-area").focus(function(){
	// 	$(this).animate({borderColor:"#4dff88"},250);
	// });

	$("#submit-btn").mouseenter(function(){
		$("#submit-btn").animate({"background-color":"#4dff88"}, 250);
		$("#submit-btn").css("color","black");
	});

	$("#submit-btn").mouseleave(function(){
		$("#submit-btn").animate({"background-color":"#404040"}, 250);
		$("#submit-btn").css("color","white");
	});

</script>