<div id="titlesection">

	<!-- Nav Bar-------------------------- -->
	
	<nav class="navbar navbar-light navbar-expand-xl bg-faded justify-content-center">

		<!-- Logo -->
    	<a href="/" class="navbar-brand d-flex mr-auto">Logo</a>

    	<!-- Dropdown Button -->
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    	</button>

    	<!-- Links -->
    	<div class="collapse navbar-collapse w-100" id="collapsingNavbar">
        	<ul class="navbar-nav w-100 justify-content-center">
            	<li class="nav-item">
                	<a class="nav-link" href="#aboutsection" id="about">About</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" href="#portfoliosection" id="portfolio">Portfolio</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" href="#contactsection" id="contact">Contact</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" id="resume">Resume</a>
            	</li>
        	</ul>
    	</div>

	</nav>

	<!-- main -------------------->
	<div class="container-fluid" id="main">

		<!-- Social Media Buttons Left Side -->
			
		<div class="btn-group-vertical container" id="	socialmedia-left">
		  	<button type="button" class="btn btn-primary smlink smlink-vert" id="githublink">
		 		<%= image_tag("GitHub-Mark-Light-32px.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink smlink-vert" id="linkedinlink">
		 		<%= image_tag("linkedinlogo.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink smlink-vert" id="googleplaylink">
		  		<%= image_tag("if_playstore_252084.png") %>
		  	</button>
		</div> 	 

		<!-- Name and Descreption -->
		<div id="info-area">
			
			<!-- Name -->
	 			<div id="name">
	 				<span class="letter">N</span><span class="letter">u</span><span class="letter">m</span><span class	="letter">f</span><span class="letter">o</span><span class="letter">r</span> <span class="letter">T</span><span class="letter">i</span><span class="letter">a</span><span class="letter">p</span><span class="letter">o</span>
	 			</div>

			<!-- Description -->
			<div id="description"></div>

		</div>

	</div>	

	<!-- Bottom	  -->

	<div class="container-fluid" id="bottom">
		
		<!-- Social Media Buttons Bottom of page -->
	 	 <div class="btn-group container" id="socialmedia-bottom">
		  	<button type="button" class="btn btn-primary smlink" 		id="githublink">
		 		<%= image_tag("GitHub-Mark-Light-32px.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink" 		id="linkedinlink">
		 		<%= image_tag("linkedinlogo.png") %>
		  	</button>
		  	<button type="button" class="btn btn-primary smlink" 		id="googleplaylink">
		  		<%= image_tag("if_playstore_252084.png") %>
		  	</button>
		</div> 	 

	</div>


</div>